@media screen and (max-width: 2560px) {
    * {
        /* background-color: red; */
    }

    .social_bg {
        width: 20%;
    }

    .social_media_nav {
        margin-right: 20px;
    }

    .fa_list_mob {
        display: none;
    }
}

@media screen and (max-width: 1440px) {
    * {
        /* background-color: whitesmoke; */
    }

    .social_bg {
        width: 30%;
    }
}

@media screen and (max-width: 1024px) {
    * {
        /* background-color: lightcoral; */
    }

    .menu_items {
        width: 75%;
    }

    .social_media {
        width: 25%;
    }

    .social_bg {
        width: 35%;
    }

    .social_media_nav {
        margin-right: 0px;
    }

    #about {
        width: 100%;
        height: 630px;
    }

    #about_image {
        width: 45%;
        position: absolute;
        top: 38px;
    }

    .about_shape_1 {
        width: 7%;
        top: 21px;
        right: 20px;
    }

    .about_shape_2 {
        width: 22%;
        left: -30px;
        top: 277px;
    }

    .about_shape_3 {
        width: 17%;
        top: 573px;
    }

    .calltoaction_main {
        width: 75%;
    }

    .calltoaction_title {
        font-size: 22px;
    }

    .calltoaction_shape {
        width: 50%;
        top: -62px;
        left: -35px;
    }

    #contact .container {
        margin-top: 40px;
    }
}

@media screen and (max-width: 768px) {
    * {
        /* background-color: lightblue; */
    }

    .social_bg {
        width: 40%;
    }

    .fa_list_mob {
        display: block;
        z-index: 9;
        position: absolute;
        font-size: 30px;
        height: 80px;
        float: right;
        line-height: 80px;
        margin-left: 220px;
        cursor: pointer
    }

    .fa_list_mob:hover {
        color: white;
    }

    .nav,
    .menu,
    .menu_items,
    .social_media {
        display: none;
    }

    .menu_item {
        margin-bottom: 20px;
    }

    .social_media_link:hover .cls-1 {
        transition: all 0.3s ease 0s;
        stroke: var(--main-color);
    }

    .social_media_link:hover .cls-2 {
        transition: all 0.3s ease 0s;
        fill: var(--main-color);
    }

    .hero_description {
        width: 320px;
    }

    .hero_description p {
        font-size: 19px;
        font-weight: 300;
        text-align: justify;
        text-justify: inter-word;
        letter-spacing: 0px;
        color: var(--black-color);
    }

    .hero_shape_line {
        width: 40%;
    }

    #about {
        width: 100%;
        height: 680px;
    }

    #about_image {
        width: 50%;
        top: 90px;
    }

    .about_shape_1 {
        width: 8%;
        top: 25px;
        right: 55px;
    }

    .about_shape_2 {
        width: 27%;
        top: 270px;
    }

    .about_shape_3 {
        width: 20%;
        top: 630px;
    }

    #whoami {
        margin-top: 38px;
    }

    .skill_right {
        width: 35%;
        padding: 10px;
    }

    .calltoaction_main {
        width: 75%;
    }

    .calltoaction_title {
        font-size: 20px;
    }

    .calltoaction_button {
        width: 138px;
        height: 0;
        margin-top: 0;
    }

    .calltoaction_shape {
        width: 66%;
    }

    #contact img {
        position: absolute;
        width: 997px;
        top: -40px;
        left: 0;
    }
}

@media screen and (max-width: 425px) {
    * {
        /* background-color: lightgreen; */
    }

    .social_bg {
        width: 70%;
    }

    .hero_head {
        width: 100%;
        height: 100%;
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero_shape {
        display: none;
    }

    .hero_shape_line {
        width: 70%;
    }

    #about {
        width: 100%;
        height: 1000px;
    }

    #about_image {
        width: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    #about_content {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 346px;
    }

    #whoami {
        font-size: 30px;
        text-align: center;
        margin-top: 64px;
    }

    .whoami_des {
        width: 100%;
        text-align: center;
        text-justify: inter-word;
        letter-spacing: 1px;
        margin-top: 20px;
    }

    .about_shape_1 {
        width: 13%;
        top: 48px;
        right: 22px;
    }

    .about_shape_2 {
        width: 53%;
        top: 252px;
    }

    .about_shape_3 {
        width: 43%;
        top: 900px;
    }

    .skill_shape_1 {
        width: 22%;
    }

    .skill_shape_2 {
        width: 22%;
    }

    .skill_left {
        /* background-color: brown; */
        width: 100%;
        position: absolute;
        top: 32px;
        left: 0px;
        right: 0px;
    }

    .skill_right {
        /* background-color: rgba(87, 165, 42, 0.473); */
        width: 100%;
        position: absolute;
        top: 375px;
        left: 0px;
        right: 0px;
    }

    .skill_des {
        width: 100%;
        text-align: center;
    }

    #services {
        height: 870px;
    }

    .calltoaction_main {
        width: 85%;
    }

    .calltoaction_title {
        font-size: 16px;
    }

    .calltoaction_button {
        width: 200px;
    }

    .calltoaction_shape {
        width: 108%;
    }

    #contact {
        height: 1020px;
    }

    #contact img {
        position: absolute;
        width: 550px;
        top: 0;
        left: 0;
        opacity: 0.4;
    }
}

@media screen and (max-width: 375px) {
    * {
        /* background-color: lightpink; */
    }

    .social_bg {
        width: 62%;
    }

    .fa_list_mob {
        font-size: 25px;
        margin-left: 170px;
        margin-top: -10px;
    }

    .hero_shape_line {
        width: 80%;
    }

    #about {
        width: 100%;
        height: 1030px;
    }

    .about_shape_1 {
        width: 15%;
        right: 20px;
        top: 60px;
    }

    .about_shape_3 {
        top: 945px;
    }

    .skill_right {
        top: 397px;
    }

    #services {
        height: 880px;
    }

    .calltoaction_main {
        justify-content: space-around;
        flex-direction: column;
    }

    .calltoaction_title {
        font-size: 16px;
    }

    .calltoaction_button {
        position: relative;
        top: -25px;
        left: 20px;
    }

    .calltoaction_shape {
        width: 134%;
    }
}

@media screen and (max-width: 320px) {
    * {
        /* background-color: gray; */
    }

    .social_bg {
        width: 70%;
    }

    .fa_list_mob {
        font-size: 25px;
        margin-left: 170px;
        margin-top: -10px;
    }

    .navbar_brand img {
        width: 100px;
    }

    .hero_description {
        width: 285px;
    }

    .hero_description p {
        font-size: 18px;
        font-weight: 300;
        text-align: justify;
        text-justify: inter-word;
        letter-spacing: 0px;
        color: var(--black-color);
    }

    .hero_shape_line {
        width: 90%;
    }

    #about {
        width: 100%;
        height: 1102px;
    }

    .about_shape_1 {
        width: 15%;
        right: 20px;
        top: 60px;
    }

    .about_shape_3 {
        top: 1035px;
    }

    .skill_left {
        top: 57px;
    }

    .skill_right {
        top: 500px;
    }

    #services {
        height: 975px;
    }
}